/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.home {
    background-color: rgba(255, 255, 255, 0.75);
    .content-wrapper {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero {
        height: auto;
        width: auto;
        position: relative;
        margin-top: -32px;
    }
    .title {
        font-family: 'Novecento Web', sans-serif;
        color: #fff;
        z-index: 1;
        font-size: 3rem;
    }
    h2 {
        font-family: 'Novecento Web', sans-serif;
        color: #d99054;
        font-size: 2rem;
    }
    p {
        font-family: 'Merriweather Web', sans-serif;
        color: #d99054;
        font-size: 1.6rem;
    }
    .img-container {
        margin-left: auto;
        margin-right: auto;
        width: 95vh;
        display: fixed;
        .parallax-img {
            width: 95vh;
            display: fixed;
        }
    }
    .my-container {
        height: 500px;
        position: relative;
        background: #000;
        overflow: hidden;
    }
    .my-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.9;
        background-image: url('../../assets/images/myanmar-kids.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #d99054;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}