/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/

.hero {
    background-image: url(../../assets/images/hero-image.jpeg);
    height: 100vh;
    width: auto;
}
