/* Header */

.container {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
}
.main-navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Novecento Web', sans-serif;
    text-transform: uppercase;
}
.title {
        h1 {
            color: #d99054;
            font-size: 1.5rem;
        }
}
.menu {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    a {
        text-decoration: none;
        margin: 1em;
        font-size: 1rem;
        &:visited {
            color: #d99054
        }
    }
}
.site-header {
    padding: .5rem 0;
    width: 100%;
    z-index: 9999999;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-search {
        line-height: 1;
        padding-left: 1.5rem;
form {
    display: block;

    fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    }
}
    .search-field {
        font-family: 'Novecento Web', sans-serif;
        border: none;
        display: none;
    }
    .search-submit {
        color: $color__link;
        border: none;
        padding-top: .33rem;
        float: left;
            }
    .search-width {
        display: block;
        background: transparent;
    }
}

button {
    display: fixed;
    background-color: #d99054;
    color: #fff;
}

/* Footer */

.site-footer {
    background: url(../../images/dark-wood@2x.png);
    background-size: 512px, 512px;
}

.footer-info {
    display: flex;
}

.footer-block-item {
    margin: 3rem 0rem;
    padding-right: 1.5rem;
    width: 25%;
    color: #fff;
}
.footer-block-item {
    margin: 3rem 0rem;
    width: 50%;
}
.text-logo {
    text-align: right;
    margin-top: 1rem;
}
.footer-header {
    color: #d99054;
}
.copyright {
    font-family: 'Novecento Web', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 0;
    padding-bottom: .75rem;
    font-size: 1rem;
}

a.footer-link {
    color: #fff;
}
